---
- name: Restart nginx-gateway
  ansible.builtin.systemd:
    name: nginx-gateway
    state: restarted
  become: true

- name: Reload nginx-gateway
  ansible.builtin.command:
    cmd: podman exec nginx-gateway nginx -s reload
  become: true
  register: nginx_reload_result
  changed_when: nginx_reload_result.rc == 0
  failed_when: nginx_reload_result.rc != 0

- name: Reload ufw
  community.general.ufw:
    state: reloaded

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
