---
- name: Restart SearXNG
  community.docker.docker_compose_v2:
    project_src: /etc/searxng
    state: restarted
  become: true

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: Reload nginx
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: Reload ufw
  community.general.ufw:
    state: reloaded
