server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
  # Scrape Podman container logs via mounted socket
  - job_name: containers
    docker_sd_configs:
      - host: unix:///run/podman/podman.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: container_name
      - source_labels: ['__meta_docker_container_id']
        target_label: container_id
      - action: replace
        target_label: host
        replacement: {{ inventory_hostname }}
      - action: replace
        target_label: hostname
        replacement: {{ inventory_hostname }}
      - action: replace
        target_label: job
        replacement: containers

  # Scrape host syslog via bind-mounted journal
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: unit
      - source_labels: ['__journal__hostname']
        target_label: hostname
      - source_labels: ['__journal_priority_keyword']
        target_label: level
